/*-----------rest-------------*/
body,ul,li,dl,dd,dt,aside,article,section,p,h1,h2,h3,h4{margin:0px; padding:0px;}
body{font: 12px arial,sans-serif;color:#2d2d2d;}
ul, li {list-style: none;}

/*-----------common-------------*/
body {background-image:url(../icons/body-bg.png);}
.wrapper{padding: 5px;}

.b{font-weight: bold;}
.i{font-style: italic;}
.u{font-style: underline;}

i{
  display: inline-block;
  width:14px;
  height: 14px;
}

.arrow-right,.arrow-down,.arrow-left,.arrow-up{
  background-image: url(../icons/arrow_new.png);
  background-repeat: no-repeat;
}
.arrow-right{background-position: -24px 3px;}
.arrow-down{background-position: -22px -12px;}

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #e0e0e0) );
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#555;
	font-size:12px;
	padding:5px 10px 5px 0;
	text-decoration:none;
	margin:10px 10px;
    background-color: #E0E0E0;
    background-image: linear-gradient(to bottom, #FAFAFA 0px, #DCDCDC 100%);
    border-width: 1px;
    border-style: solid;
    font-weight: bolder;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    box-shadow: 0 0 1px #FFFFFF inset;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.button:hover {
    background-image: linear-gradient(to bottom, #F0F0F0 0px, #E6E6E6 100%);
    border-color: #AAAAAA #AAAAAA #999999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
	text-decoration:none;
}

/*-----------aside-------------*/
aside.left{position:fixed; top:0px;width:220px; background-color:#D6DDE5; height:100%; overflow: auto; z-index: 20;  border-right:#adadad 1px solid;-webkit-box-shadow: 1px 0px 15px #999;box-shadow: 1px 0px 15px #999;
}

.item-lists{padding:0px 0px 10px;}
.item-lists ul{list-style: none;}
.item-lists dd{ display: none;border-bottom:1px solid #ADADAD;background-color:#F3F3F3;}
.item-lists dt {border-width:0px 0px 1px 0px; font-weight:bold; color:#2d2d2d; border-color:#ADADAD; border-style:solid;  line-height: 32px;  padding:0px 0px 0px 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(212,212,212,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(212,212,212,1) 100%); /* Chrome10+,Safari5.1+ */
    cursor: pointer; }
.item-lists li{line-height:24px;}
.item-lists li a{ padding:0px 0px 0px 60px; display:block;text-decoration: none; color:#444;font-size:12px;width:160px;line-height:24px;}
.item-lists li a:hover, .item-lists li.active a,
.item-lists li.active a:hover{color: #EFEFEF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(91,146,212,1)), color-stop(100%,rgba(25,87,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(91,146,212,1) 0%,rgba(25,87,173,1) 100%); /* Chrome10+,Safari5.1+ */
    margin-right:-16px;  font-weight: bold;}

/*-----------article-------------*/

article.right{ position: fixed; width:100%; right:0px; top:0px; height: 100%; overflow: auto; z-index: 10; line-height: 180%; color:#2d2d2d; font-family:"Courier New", Courier, monospace;}
article.right section, article.right .welcome {display: none; margin-left: 220px;}
article.right .welcome{display: block;}
article section a{text-decoration: none;}
article section a:hover{text-decoration:underline;}


/*-------------------scroll-bar[by Google]------------------------*/

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

/*::-webkit-scrollbar-button:horizontal {
  background-color: transparent;
  width:4px;
}*/

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-track:vertical {
  border-left: 6px solid transparent;
  border-right: 1px solid transparent;
  background-clip:padding-box;
  background-color: white;
}
::-webkit-scrollbar-track:horizontal {
  border-top: 6px solid transparent;
  border-bottom: 1px solid transparent;
  background-clip:padding-box;
  background-color: white;

}

::-webkit-scrollbar-thumb {
  min-height: 28px;
  padding-top:100px;
  background-clip:padding-box;
  background-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.10),
                      inset 0px -1px 0px  rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:vertical {
  border-left: 6px solid transparent;
  border-right: 1px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
::-webkit-scrollbar-thumb:horizontal {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 1px solid transparent;
}

::-webkit-scrollbar-track:hover {
  background-color:rgba(0,0,0,0.05);
   -webkit-box-shadow: inset 1px 0px 0px  rgba(0,0,0,0.10);
}

::-webkit-scrollbar-track:active {
  background-color:rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 1px 0px 0px  rgba(0,0,0,0.14),
                      inset -1px -1px 0px  rgba(0,0,0,0.07);
}

.welcome {margin:60px auto;font-size:20px;color:#FF4400;text-shadow: 1px 1px 1px #FFF;text-align: center;}

/* ----------------------- DOM节点数  ------------------------- */
.right-topic { height:34px;text-align:center;line-height:34px;text-shadow:1px 1px 1px #FFFFFF;-webkit-box-shadow: 0px 1px 10px #999;box-shadow: 0px 1px 10px #999;
background:-webkit-linear-gradient(top center , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.right-topic strong { font-weight:bold;color:#EB651A;}

.dom-tags{ min-width:40px; font-size: 14px; text-align: center; margin:10px; font-weight: bold; }
.dom-tags:hover{text-decoration: none;}
.red-dot{text-align:center; color:#444; min-width:20px;margin-right:10px;background:transparent;
    padding:8px 14px 8px 9px;border-right:1px solid #bbb;}
.cont-wrap { margin:30px;}

/* ------------------------- 网络请求 -------------------------- */
article .document{color:#2F69BF;font-weight:bold;}
article .stylesheet{color:#A22FBF;font-weight:bold;}
article .script{color:#BF2F2F;font-weight:bold;}
article .image{color:#FF8800;font-weight:bold;}

.com {margin:20px 30px;
    border: 1px solid #CCC;
    padding-bottom:24px;
    overflow:hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(29%,rgba(252,252,252,1)), color-stop(68%,rgba(248,248,248,1)), color-stop(100%,rgba(243,243,243,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 29%,rgba(248,248,248,1) 68%,rgba(243,243,243,1) 100%);
}
.com p {line-height:32px;border-bottom:1px dotted #CCC;}
.com a {color:#08c;margin-left:20px;}
.com a:hover {background-color:#08C; color:#FFF;text-decoration:none;}
.index { padding:0 5px 0 20px;width:30px;display:inline-block;}
.document-block {  }
.css-block { }
.js-block { }
.img-block { }
.other-block { }
/* ---------------------------- 加载时间 -------------------------------*/
.metro-box {margin:20px 30px;width:150px;float:left;text-align:center;height:80px;line-height:40px;color:#444;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #e0e0e0) );
    background-color:#f5f5f5;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #cfcfcf;
    padding: 0 20px;
    text-shadow:1px 1px 1px #FFFFFF;
}
.load-name {border-bottom: 1px solid #CCC;color:#444;}
.load-time {color:#08c;}
/* ---------------------------- COOkie管理 -------------------------------*/
.ck-list .ck-item { margin:5px;display:block;height:20px;line-height:20px;border:1px solid #CCC;padding:5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(29%,rgba(252,252,252,1)), color-stop(68%,rgba(248,248,248,1)), color-stop(100%,rgba(243,243,243,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 29%,rgba(248,248,248,1) 68%,rgba(243,243,243,1) 100%);
}
.c-gray {color:#666;}
.c-blue {color:#08c;}
.c-red {color:#D20909;}
.btn {
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline-block;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 8px 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.btn:hover {
    text-decoration: none;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
}
.cache-link, .sv-link { padding-left:10px;margin-left:30px; text-decoration:none;margin-top:30px;border-radius: 20px;
    -webkit-border-radius: 20px;}
.cache-link:hover,.sv-link:hover {text-decoration:none;}
.cache-btn {padding:6px 10px;}
.cache-clear { margin-left:28px;margin-top:20px;}
.cache-clear select {padding:2px;}
.sv-link {float:left;height:30px;line-height:30px;}

.script-line {height:30px; line-height: 30px;margin:30px;vertical-align: baseline;float:left;
    background:#EFEFEF;
    border:1px solid #CCC;padding:10px;text-shadow: 1px 1px 1px #FFF;color:#444;font-weight: bolder;}

.proxy-item { height:36px; line-height:36px;}
.proxy-item label {display:inline-block;width:65px;}
.proxy-item input {padding:4px 3px;height:18px;}
.field-set { margin:4px 20px;border:1px solid #A4C7F7;padding:10px 30px;width:240px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(29%,rgba(252,252,252,1)), color-stop(68%,rgba(248,248,248,1)), color-stop(100%,rgba(243,243,243,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(252,252,252,1) 29%,rgba(248,248,248,1) 68%,rgba(243,243,243,1) 100%);
}
.field-set legend {color:#08c;font-size:14px;font-weight: bold;text-shadow: 1px 1px 1px #FFF;}
.proxy-sel { margin:30px 10px 15px 20px;font-weight: bold;text-shadow: 1px 1px 1px #FFF;font-size:14px;background:#EFEFEF;width:286px;border:1px solid #CCC;height:30px;line-height:30px;padding-left:12px;}
.proxy-sty { margin:10px 60px;}
.select-stl {padding:2px;}



